[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/auSWAN
[access "refs/for/refs/*"]
	read = group user/auSWAN
	push = group user/auSWAN
	label-Code-Review = -2..+2 group user/auSWAN
	label-Verified = -1..+1 group user/auSWAN
	rebase = group user/auSWAN
	removeReviewer = group user/auSWAN
	submit = group user/auSWAN
[access "refs/heads/*"]
	read = group user/auSWAN
	create = group user/auSWAN
	push = +force group user/auSWAN
	pushMerge = group user/auSWAN
[access "refs/tags/*"]
	push = +force group user/auSWAN
	pushTag = group user/auSWAN
	pushSignedTag = group user/auSWAN
